<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Register</title>
    <style>
        .register{
            width:600px;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class="register">
    <h1>注册</h1>
    <form>
    {% for field in form %}
        {% if field.name == 'code' %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="row">

              <div class="col-xs-8">
                <input type="text" id="captcha-input" class="form-control">
              </div>

              <div class="col-xs-4">
                <button class="btn btn-primary" id="get-captcha-btn">获取验证码</button>
              </div>

            </div>
        </div>
        {% else %}
             <div class="form-group">
                 <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                 {{ field }}
             </div>
        {% endif %}
    {% endfor %}
        <button type="submit" class="btn btn-default">注 册</button>
</form>
</div>

</body>
</html>